section.hero {
  background-color: transparent;
  position: relative;

  z-index: -1;
  @media screen and (min-width: 992px) {
    display: flex;
  }
  @media screen and (min-width: 992px) {
    display: flex;
  }
  .bg {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: 1;

    @media screen and (min-width: 992px) {
      // display: flex;
      // position: relative;
      width: 626px;
      right: unset;
      left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media screen and (min-width: 450px) {
        // width: 90%;
        height: 300px;
      }
    }
  }

  .sec_container {
    position: relative;
    z-index: 6;
    top: -150px;
    @media screen and (min-width: 992px) {
      margin: auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      // width: 992px;
      width: 100%;
      justify-content: space-evenly;
      position: relative;
      z-index: 55;
      margin-top: 44px;
    }

    .bg {
      position: absolute;
      top: 0px;
      right: 0;
      width: 100%;
      z-index: -1;
      @media screen and (min-width: 992px) {
        // display: flex;
        // position: relative;
        width: 626px;
        right: unset;
        left: 0;
        // top: 180px;
        top: 80px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .main_book {
      @media screen and (max-width: 992px) {
        width: 130%;
        height: 394px;
        object-fit: contain;
        position: relative;
        left: 70px;
      }

      @media screen and (min-width: 450px) {
        left: 120px;
        top: 90px;
      }
      img {
        width: 100%;
        height: 434px;
        object-fit: contain;
        @media screen and (min-width: 992px) {
          height: 560px;
          width: 701px;
          position: absolute;
          left: 0;
          top: -100px;
        }
      }
    }
    .desc {
      margin-bottom: 37px;

      @media screen and (min-width: 450px) {
        margin-top: 120px;
        margin-bottom: 0;
      }

      @media screen and (min-width: 992px) {
        width: 400px;
        margin-top: 40px;

        min-height: 240px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        text-align: justify;
        color: var(--color-gray);
        margin: 0;
      }
      .btn_container {
        display: flex;
        margin-top: 40px;
        text-decoration: none;
        button {
          margin: auto;
          border: none;
          background: var(--grad-gold);
          height: 41.23px;
          min-width: 200px;
          padding: 0px 8px;
          text-align: center;
          color: var(--color-white);
          font-size: 21.39px;
          font-weight: 700;
          border-radius: 24px;
          width: fit-content !important;

          border: 2.64px solid #ffe7b1;
        }
      }
    }
  }
}
section.hero[dir="ltr"] {
  .bg {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: 992px) {
      // display: flex;
      // position: relative;
      width: 626px;
      right: unset;
      left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sec_container {
    position: relative;
    z-index: 6;
    top: -150px;

    .bg {
      position: absolute;
      top: 0px;
      right: 0;
      width: 100%;
      z-index: -1;
      @media screen and (min-width: 992px) {
        // display: flex;
        // position: relative;
        width: 626px;
        right: 0;
        left: unset;
        // top: 180px;
        top: 80px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media screen and (min-width: 992px) {
          transform: scaleX(-1);
        }
      }
    }

    .main_book {
      @media screen and (max-width: 992px) {
        left: -70px;
      }
      img {
        width: 100%;
        height: 434px;
        object-fit: contain;
        @media screen and (min-width: 992px) {
          height: 560px;
          width: 701px;
          position: absolute;
          left: unset;
          right: 0;
          top: -100px;
        }
      }
    }
    .desc {
      margin-bottom: 37px;
      @media screen and (min-width: 992px) {
        width: 400px;
        margin-top: 40px;
      }

      @media screen and (max-width: 992px) {
        margin-top: 44px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        text-align: justify;
        color: var(--color-gray);
        margin: 0;
      }
      .btn_container {
        display: flex;
        margin-top: 40px;

        button {
        }
      }
    }
  }
}
