nav.navbar {
  position: relative;
  height: 323px;
  // z-index: 9;

  @media screen and (min-width: 992px) {
  }
  .hero_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sec_container {
    padding-top: 35px;
    .burger_icon {
      width: fit-content;

      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
        color: #525252;
      }
    }
    .menu_container_langs,
    .menu_container {
      position: fixed;
      top: 0px;
      right: 0;
      width: 300px;
      height: 100vh;
      background-color: white;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @media screen and (max-width: 450px) {
        width: 250px;
      }

      .close_icon {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-right: 24px;
        width: fit-content;

        svg {
          width: 24px;
          height: 24px;
          color: #525252;
        }
      }

      .links {
        ul {
          margin: 0;
          padding: 0;
          li {
            display: flex;
            align-items: center;
            gap: 16px;
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 24px;
            border-bottom: 1px solid var(--main-blue);
            width: fit-content;

            a {
              text-decoration: unset;
              cursor: pointer;
              color: #1d1b70;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .menu_container {
      background-color: #ffffffad !important;
    }

    .menu_container_langs {
      position: fixed;
      width: 100%;

      .logo {
        margin-top: 40px;
        cursor: pointer;
      }
      .hero_bg {
        height: 100vh;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .logo {
      display: flex;
      img {
        margin: auto;
        object-fit: contain;
        width: 145px;
        height: 107px;
      }
    }

    .back_container {
      position: absolute;
      left: 0;
      top: 16px;
      cursor: pointer;
      z-index: 99;
      svg {
        width: 30px;
        height: 30px;
        color: #1d1b70;
      }
    }
  }

  .layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 444;
    background: #00000042;
    /* opacity: 0.5; */
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(2px);
  }
}

nav.contact {
  height: unset;
  margin-bottom: 44px;
}

nav.navbar[dir="ltr"] {
  .hero_bg {
    img {
    }
  }

  .sec_container {
    .menu_container {
      right: unset;
      left: 0;
      .close_icon {
        padding-right: 0;
        padding-left: 24px;
        svg {
        }
      }

      .links {
        ul {
          li {
            padding-right: 0;
            padding-left: 24px;

            a {
            }
          }
        }
      }
    }

    .logo {
      img {
      }
    }
  }

  .layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 444;
    background: #00000042;
    /* opacity: 0.5; */
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(2px);
  }
}
